*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin ballSize(){
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
@mixin animation($duration){
    animation-name: ballAnimation;
    position: relative;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@mixin colors($color){
    background-color: $color;
}


@keyframes ballAnimation {
    0%   {left:0px;;}
    25%  {left:500px;}
    50%  {left:0px;}
    75%  {left:500px;}
    100% {left:0px;}
}


.ball1{
    @include ballSize;
    @include animation(4s);
    @include colors(red);
}
.ball2{
    @include ballSize;
    @include animation(6s);
    @include colors(blue)
}
.ball3{
    @include ballSize;
    @include animation(8s);
    @include colors(yellow)
}




